.container-pagesolicitudes{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.container-boton-solicitudes{
    display: flex;
    align-items: center;
    justify-content: end;
}
.container-div-barra{
    margin-top: 3rem;
}


.container-boton-solicitudes *{
    width: 10%;
}


.container-leyenda{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.container-leyenda-color {
    display: flex;
    align-items: center;
    gap:1rem;
}


.imagen-leyenda{
    width: 2rem;
    height: 2rem;
}


.container-solicitudes-info{
    display: flex;
    gap:2rem;
}


.container-table{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-table table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container-table table th {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    font-weight: bold;
}

.container-table table td, .container-table table th {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.container-table table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.container-table table tr:hover {
    background-color: #e6f7ff;
}

.container-table table td {
    color: #333;
}




.paginacion {
    display: flex;
    align-items: center;
    justify-content: end;
}

.paginacion button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.paginacion button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.paginacion span {
    font-size: 1rem;
}