.boton{
    border: none;
    background-color: #4CAF50;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    color: white;
}


.container-cuentas{
    display: flex;
    justify-content: end;
    gap:1rem;
    
}