.container-pagemodificar-departamento{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

.container-pagemodificar-departamento-flecha{
    width: 95%;
}


.container-pagemodificar-departamento-contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 75%;
    gap:4rem;
    border-radius: 1rem;
    background-color: #f0f0f0;
}

.container-pagemodificar-departamento-datos2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

.container-pagemodificar-departamento-datos2 img{
    width: 10rem;
    height: 10rem;
}