.container-headerbar{
   display: flex;
   align-items: center;
   justify-content:space-between;
   width: 100%;

}


.container-headerbar img{
    width: 3rem;
    height: 3rem;
}


.container-iconos{
    width: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}





