.container-detalles-solicitudes{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:2rem;
    
}


.container-detalles-solicitudes-info{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3rem;
}

.container-detalles-solicitudes-datos1{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
}

.container-detalles-solicitudes-datos2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    height: 80%;
}

.container-detalles-solicitudes-datos1 p{
    font-size: 20px;
}

.container-detalles-solicitudes-datos2 p{
    font-size: 20px;
}


.container-detalles-solicitudes-datos2 img{
    width: 15rem;
    height: 10rem;
    border-radius: 1rem;
    margin-left: 3rem;
}

.container-table{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-table table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container-table table th {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    font-weight: bold;
}

.container-table table td, .container-table table th {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.container-table table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.container-table table tr:hover {
    background-color: #e6f7ff;
}

.container-table table td {
    color: #333;
}

.container-detalles-solicitudes-datos1-tipo{
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-detalles-solicitudes-datos1-botones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}



.container-detalles-solicitudes-proveedor-botones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}


.request-textarea-proveedor {
    width: 100%;
    height: 60%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    resize: none;
    font-family: 'Arial', sans-serif;
    background-color: rgb(218, 213, 213);
}


