.container-pagepagar-solicitud{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}


.container-pagepagar-solicitud-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:2rem;
}




.container-pagepagar-solicitud-datos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    border-radius: 1rem;
    gap:2rem;
}

.container-pagepagar-solicitud-datos1{
    width: 50%;
    display: flex;
    flex-direction: column;

}

.container-pagepagar-solicitud-datos1 p{
    font-size: 20px;
}

.container-pagepagar-solicitud-datos2 p{
    font-size: 20px;
}
.container-pagepagar-solicitud-datos2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}